*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;  
    background-color: rgb(42, 4, 78);
    display: grid;
    place-items: center;
}

.Calculadora{
    background-color: rgb(172, 113, 244);
    color: rgb(246, 241, 252);
    display: grid;
    border-radius: 10px;
    grid-template-columns: repeat(4, 1fr);
    width: 350px;
    max-width: 100%;
    padding: 1.5 rem;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

.pantalla{
    grid-column: 1/ -1;
    background-color: rgb(124, 120, 120);
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem ;
    font-family:monospace ;
    font-weight: 600;
}

.btn{
<<<< HEAD
    background-color:(172, 113, 244);
    color: rgb(47, 44, 44); 
    border: 0; 
    padding: 1.5rem .5rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(124, 120, 120);
}

#cero {
    grid-column: span 2;
}

#igual {
    grid-row: span 2;
    background-color: rgb(93, 0, 180);
}

#igual:hover {
background-color: rgb(145, 28, 255);
}


>>>>>>> 33e51584e3c564b8f70320ada3e0a5d137361b1d
